/**
 * Site header
 */
.site-header {
  border-top: 5px solid $rust-color;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  position: absolute;
  top: 9px;
  right: $spacing-unit / 2;
  background-color: $background-color;
  border: 1px solid $grey-color-light;
  border-radius: 5px;
  text-align: right;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $grey-color-dark;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    display: block;
    padding: 5px 10px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      padding: 0;

      &:not(:last-child) {
        margin-right: 20px;
      }
      margin-left: auto;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  text-align: center;
}

/**
 * Social
 */
ul.social-media {
  text-align: center;
  padding: 0;
  li {
    display: inline-block;
  }
  li > a {
    margin-left: 0.8em;
    margin-right: 0.8em;
    display: inline-block;
    color: white;
  }

  .fa-github:hover {
    -webkit-animation: github 1s ease-in-out forwards;
    animation: github 1s ease-in-out forwards;
  }
  .fa-stack-overflow:hover {
    -webkit-animation: stack-overflow 1s ease-in-out forwards;
    animation: stack-overflow 1s ease-in-out forwards;
  }
  .fa-twitter:hover {
    -webkit-animation: twitter 1s ease-in-out forwards;
    animation: twitter 1s ease-in-out forwards;
  }
  .fa-linkedin:hover {
    -webkit-animation: linkedin 1s ease-in-out forwards;
    animation: linkedin 1s ease-in-out forwards;
  }
  .fa-codepen:hover {
    -webkit-animation: codepen 1s ease-in-out forwards;
    animation: codepen 1s ease-in-out forwards;
  }
  .fa-instagram:hover {
    -webkit-animation: instagram 1s ease-in-out forwards;
    animation: instagram 1s ease-in-out forwards;
  }
  .fa-lastfm:hover {
    -webkit-animation: lastfm 1s ease-in-out forwards;
    animation: lastfm 1s ease-in-out forwards;
  }
  .fa-mail-forward:hover {
    -webkit-animation: mail-forward 1s ease-in-out forwards;
    animation: mail-forward 1s ease-in-out forwards;
  }
  .fa-rss:hover {
    -webkit-animation: rss 1s ease-in-out forwards;
    animation: rss 1s ease-in-out forwards;
  }

  @-webkit-keyframes github         {0% {color: white;} 50% {color: #333333;} 100% {color: #3CA2A2;}}
  @-webkit-keyframes stack-overflow {0% {color: white;} 50% {color: #fe7a15;} 100% {color: #3CA2A2;}}
  @-webkit-keyframes twitter        {0% {color: white;} 50% {color: #4ca0eb;} 100% {color: #3CA2A2;}}
  @-webkit-keyframes linkedin       {0% {color: white;} 50% {color: #4875B4;} 100% {color: #3CA2A2;}}
  @-webkit-keyframes codepen        {0% {color: white;} 50% {color: #000000;} 100% {color: #3CA2A2;}}
  @-webkit-keyframes instagram      {0% {color: white;} 50% {color: #517fa4;} 100% {color: #3CA2A2;}}
  @-webkit-keyframes lastfm         {0% {color: white;} 50% {color: #c3000d;} 100% {color: #3CA2A2;}}
  @-webkit-keyframes mail-forward   {0% {color: white;} 50% {color: #c55445;} 100% {color: #3CA2A2;}}
  @-webkit-keyframes rss            {0% {color: white;} 50% {color: #FF6600;} 100% {color: #3CA2A2;}}
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.125);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.25);
    }
  }
}
